body {
    font-family: helvetica, sans-serif; 
    margin: 0; 
    padding: 0; 
}

/* NAV BAR */

nav {
    background-color: white; 
    display: flex; 
    position: fixed; 
    height: 64px; 
    left: 0; 
    right: 0; 
    top: 0; 
    z-index: 1; 
    border: 1px solid lightgray; 
    justify-content: space-between; 
    align-items: center; 
}

.logo {
    width: 280px; 
    display: flex; 
    align-items: center;
    margin: 0 24px 0 24px;
    padding: 0; 
}

.logo img {
    height: 34px; 
}

.logo-text {
    margin-left: 5px;
    font-size: 20px;  
}

.logo-grey-text {
    color: grey; 
}

.nav-buttons {
    display: flex;  
    gap: 16px; 
}

.on-campus {
    display: flex; 
}

.on-campus-image {
    padding: 16px; 
}

.online {
    display: flex; 
}

.online-image {
    padding: 16px; 
}

.sign-in {
    display: flex; 
    padding-right: 24px; 
}
.sign-in-image {
    padding: 16px; 
}

/* Introduction */ 

.introduction {
    background-color: lightgray;
    padding: 64px 0 0 24px; 
    margin: 0; 
    display: flex; 
    align-items: center; 
}

.section-1 img {
    width: 60%; 
    padding: 32px 0; 
}


.section-1-text {
    display: flex; 
    flex-direction: column; 
    width: 26%;  
    margin: 0 40px; 
    padding: 0 0;   
}

.section-1-text h1 {
    font-size: 35px; 
    font-weight: 600; 
    line-height: 1.25; 
    margin: 0 0; 
    padding-bottom: 10px;
}

.section-1-text p {
    font-size: 20px; 
    font-weight: 400; 
    padding-bottom: 10px; 
    line-height: 1.5;
    color: #404040; 
}

.section-1-text button {
    padding: 12px 24px; 
    font-size: 16px; 
    font-weight: 600; 
    background-color: #404040; 
    border: none; 
    cursor: pointer; 
}

.section-1-text a {
    color: white; 
    text-decoration: none;
    font-weight: 200; 
}

/* SECTION 2 */ 


.section-2 {
    display: flex; 
    width: 100%; 
    flex-direction: row; 
    background-color: #f2f3f4;  
    margin: 0; 
}

.section-2 img {
    width: 100%; 
}
.section-2-main-text {
    display: flex; 
    flex-direction: column; 
    width: 60%;  
    padding: 32px 24px 40px 24px; 
}

.section-2-main-text h2 {
    font-size: 32px; 
    margin: 32px 0 0 0; 
}

.section-2-main-text h6 {
    font-size: 17px; 
    font-weight: 400; 
    line-height: 1.5; 
    margin: 24px 60px 30px 0; 
}

.section-2-main-text p {
    font-size: 12px;  
    padding-top: 8px; 
    padding-bottom: 5px; 
}
.section-2-secondary-text {
    width: 40%;
    display: flex; 
    flex-direction: column; 
    border-left: solid 0.1px lightgray;
    margin: 0;  
}

.orientation-date {
    display: flex; 
    flex-direction: row; 
    margin: 0; 
    width: 100%;  
    padding: 32px 20px 20px 20px; 
}

.orientation-date img {
    width: 35%; 
    padding-right: 20px; 
}

.orientation-date-text {
    width: 100%; 
}

.our-campus {
    display: flex; 
    flex-direction: row; 
    border-top: solid 3px #d5d8dc;
    margin: 0; 
    width: 100%; 
    padding: 16px 20px 20px 20px; 
}

.our-campus img {
    width: 35%;
    padding-right: 20px;
}

.our-campus-text {
    width: 100%;
}

.our-guest-lecture {
    display: flex; 
    flex-direction: row; 
    background-color: lightgray; 
    padding: 16px 20px 20px 20px; 
    width: 100%; 
    border-top: solid 3px #d5d8dc;
}

.our-guest-lecture img {
    width: 35%; 
    padding-right: 20px;
}

.our-guest-lecture-text {
    width: 80%; 
}

/* Media Queries */

@media only screen and (max-width: 600px) { 
    
    .body {
        width: 100%; 

    }
    
    .nav {
        display: flex; 
        justify-content: space-inbetween;  
        width: 480px; 

    }
    
    nav h3, nav h2 {
       display: none; 
    }

    .nav-buttons {
        gap: 75px; 
        display: flex; 
        justify-content: space-between;
        width: auto; 
        margin-right: 24px; 
    }

    .logo {
        width: 50px; 

    }

    .on-campus {
        width: 27px; 
    }

    .online {
        width: 27px; 
    }

    .sign-in {
        width: 27px; 
    }

}