body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NAV BAR */

.nav-container {
    display: flex;
    align-items: center;  
    position: fixed; 
    width: 100%; 
    height: 64px; 
    background-color: white; 
}

.nav-container p {
    font-size: 32px; 
}

.nav-container p span {
    color: grey; 
}

.nav-container img {
    width: 50px;
    height: 50px;
    margin-left: 10px; 
    }

.nav-links {
    display: flex; 
    list-style: none; 
}